<h1>Start MOshikomi</h1>

<table>
  <tr>
    <th>New</th>
    <td><%= link_to 'New', new_moshikomi_path %></td>
  </tr>
  <tr>
    <th>Search</th>
    <td><%= link_to 'Search', search_moshikomis_path %></td>
  </tr>
</table>

